[submodule "321"]
	path = 321
	url = https://github.com/nkarl/wsu-cpts-321.git
[submodule "434"]
	path = 434
	url = https://github.com/nkarl/wsu-cpts-434.git
[submodule "360"]
	path = 360
	url = https://github.com/nkarl/wsu-cpts-360.git
[submodule "471"]
	path = 471
	url = https://github.com/wsu-cpts-471-computational-genomics.git
[submodule "423-CAPSTONE"]
	path = 423-CAPSTONE
	url = https://github.com/nkarl/wsu-cpts-capstone.git
